<div class="row">
  <div class="col-sm-6 col-lg-4 pb-3 d-flex justify-content-center text-center">
    <div class="card" style="width: 18rem;">
      <%= fa_icon "user-md 5x" %>
      <div class="card-body">
        <h5 class="card-title"><%= @doctor.name %></h5>
        <p class="card-text">availability: <%= @doctor.opening.nil? ? '-' : "#{@doctor.opening.strftime('%H:%M')} - #{@doctor.closing.strftime('%H:%M')}" %></p>
        <% @doctor.hospitals.each do |hospital| %>
          <%= link_to hospital.name, hospital_url(hospital), class: "card-text" %>
          <!-- <p class=""><%=  %></p> -->
          <br>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.try(:role).eql?('customer') %>
    <div class="col-sm-6 col-lg-4 pb-3 d-flex justify-content-center text-center">
      <%= form_for(UserDoctor.new, url: bookings_path, html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.label :schedule_date %><br />
          <%= f.date_select :schedule_date, start_year: Time.now.year, selected: get_default_date(@doctor), required: true %>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %>
        </div>

        <div class="field">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, autofocus: true, autocomplete: "phone", required: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :birth_date %><br />
          <%= f.date_select :birth_date, start_year: (Time.now - 150.years).year, end_year: Time.now.year, required: true %>
        </div>

        <div class="field">
          <%= f.label :notes %><br />
          <%= f.text_area :notes, autofocus: true, autocomplete: "notes" %>
        </div>
        <%= f.hidden_field :doctor_id, value: params[:id] %>
        <div class="actions">
          <%= f.submit "Book" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>